.navbar 	{ display: flex;
			justify-content: space-around;
			background-color: green;
			padding: 4px
 }

.content 	{display: flex;
			flex-wrap: wrap; 
			justify-content: center;
			background-color: lightGreen;
}
.content>p {display: flex;
			flex-wrap: wrap; 
			justify-content: center;
			width: 100%

}
.news 		{width:33%;
			background-color: lightGreen;
}